/*Flashcard form section*/
.answer-form {
margin-top: 1%;
}

.stack-name {
width: 30%;
}

.flashcard-form-answer {
width: 100%;
}

.flashcard-form {
margin-top: 2%;
}

.remove-flashcard {
float: right;
margin-top: 1%;
}


/*Navbar*/
.navbar-inverse {
border-radius: 0;
}

#toggle-stack {
display: none;
}

/*.toggle-stack { /Maybe to add later
border: 2px solid rgb(91, 136, 255);
border-top-color: rgb(255, 57, 57);
}*/

/*Review section*/
#answer-section {
display: none;
}

.answer-section {
border-bottom: 1px dotted rgb(119, 119, 119);
}

.review-show {
display: none;
}

.start-quiz {
display: none;
}

/* Question/Answer section*/
.question {
font-size: 10rem;
}

.answer {
width: 100%;
height: 14rem;
font-size: 10rem;
}

.fa-check-circle-o {
color: #449D44;
}

.fa.fa-times {
color: #C9302C;
}

#flashcard-section{
display: none;
}

/*ADD WHEN MENU IS CLICKED FOR OTHER NAV*/
/*nav.navbar.navbar-inverse {
transform: translateX(17%);
}